{{!-- issues_submitted page - to display after an issue is entered --}}
<div class="container-md d-flex justify-content-center mt-5 fs-4">
    Thank you for submitting your issue.  This issue has been reported {{count}} times.
</div>