{{!-- to do --}}

<form class="login-form">
    <label for ="email">email:</label>
    <input type="text" id="email-login" />
    <label for="password"> password:</label>
    <input type="password"  id="password-login" />
    <button type="submit">login</button>
</form>

<script src="/js/login.js"></script>